<html>
<head>
  <title>Create New</title>
</head>
<body>
  <h1>Create Your Account</h1>

  <form method='POST' action='/person/create'>

    <label for="first_name">First Name</label>
    <input type="text" name="first_name">
    <br>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">
    <br>
    <label for="email">Email</label>
    <input type="text" name="email">
    <br>
    <label for="phone">Phone Number</label>
    <input type="text" name="phone">
    <br>
    <label for="twitter">Twitter</label>
    <input type="text" name="twitter">
    <br>
    <label for="role">Type: </label>
    <input type="radio" name="role" value="Trainee">Trainee
    <input type="radio" name="role" value="Instructor">Instructor
    <input type="submit" value="Send">
    <br>

  </form>

</body>
</html>